### Generate synthetic data of User Activities and Leads

Notably, the two tables are related as such if Lead_Generated data is True in User Activities Table, there's going to be Lead_Value and Converted value in the Leads Table. Hence, I create a table containing all the data and extract them into 2 tables as instructed.

In [97]:
# import 
import pandas as pd
from faker import Faker
import random
from datetime import datetime, timedelta

In [99]:
# Initialize Faker to generate random data
fake = Faker()

# Create an empty DataFrame to store the data
df = pd.DataFrame(columns=['User_ID', 'Activity_Type', 'Activity_Date', 'Lead_Generated', 'Activity_Cost', 'Lead_Value', 'Converted'])

# Define the choices for Activity_Type
activity_types = ['Value My Car', 'Configurator', 'Finance', 'Book a Test Drive']
# Define the choices for lead_generated and converted
boolean_choices = [True, False]

# Generate 10,000 rows of synthetic data
for i in range(1, 10001):
    user_id = i
    # Shuffle the list of choices for wholly random selection
    random.shuffle(activity_types)
    activity_type = random.choice(activity_types)
    activity_date = fake.date_between_dates(date_start=datetime(2023, 1, 1), date_end=datetime(2023, 12, 31)).strftime('%Y-%m-%d')
    random.shuffle(boolean_choices)
    lead_generated = random.choice(boolean_choices)
    activity_cost = round(random.uniform(0, 10), 1)
    lead_value = round(random.uniform(0, 1000), 1) if lead_generated else 0
    random.shuffle(boolean_choices)
    converted = random.choice(boolean_choices) if lead_generated else False

    df.loc[i-1] = [user_id, activity_type, activity_date, lead_generated, activity_cost, lead_value, converted]

In [100]:
# sort the DataFrame by Activity Date
df.sort_values(by = 'Activity_Date', inplace = True)
# reset index
df.reset_index(drop = True, inplace = True)
# Assign index to User_ID, so the User_ID is the natural number (counting number) starting at 1
df['User_ID'] = df.index + 1
# view the dataframe
df

,User_ID,Activity_Type,Activity_Date,Lead_Generated,Activity_Cost,Lead_Value,Converted
0,1,Configurator,2023-01-01,False,4.1,0.0,False
1,2,Book a Test Drive,2023-01-01,True,2.0,360.3,False
2,3,Value My Car,2023-01-01,False,9.7,0.0,False
3,4,Configurator,2023-01-01,True,6.8,685.3,True
4,5,Book a Test Drive,2023-01-01,False,2.6,0.0,False
...,...,...,...,...,...,...,...
9995,9996,Configurator,2023-12-30,True,1.7,502.2,False
9996,9997,Value My Car,2023-12-30,True,3.6,907.6,False
9997,9998,Configurator,2023-12-30,True,5.7,389.4,False
9998,9999,Finance,2023-12-30,True,3.2,491.5,True
9999,10000,Finance,2023-12-30,True,9.9,515.6,False

In [101]:
df['Activity_Cost'].unique()

array([ 4.1,  2. ,  9.7,  6.8,  2.6,  4.3,  8.3,  2.2,  1.2,  5.7,  7.4,
        1. ,  2.9,  7.6,  4.6,  4.4,  4.9,  7.7,  8.1,  3.4,  4. ,  6.5,
        2.1,  8.7,  9.6,  5.6,  5.2,  2.4,  3.8,  0.9,  3.7,  3.6,  6.9,
        5.5,  6.4,  8.2,  4.7,  0. ,  1.8,  3.1,  7.8,  1.3,  1.5,  9.5,
        1.7,  5. ,  0.1,  9.3,  0.2,  7. ,  3.5,  9.9,  7.1,  5.8,  9.4,
        1.9,  6.3,  7.9,  7.2,  8.8,  3. ,  4.5,  0.7,  5.1,  6.1,  1.1,
        5.9, 10. ,  3.3,  7.5,  8.9,  4.2,  8. ,  2.8,  1.4,  0.6,  0.3,
        8.4,  0.4,  9.1,  9.2,  4.8,  0.5,  2.7,  8.5,  3.2,  7.3,  8.6,
        1.6,  5.4,  0.8,  6.2,  6.6,  3.9,  5.3,  2.5,  6.7,  2.3,  6. ,
        9. ,  9.8])

In [102]:
df['Lead_Value'].unique()

array([  0. , 360.3, 685.3, ..., 389.4, 491.5, 515.6])

In [103]:
# Save the DataFrame to an Excel file
df.to_excel('User_Activities_and_Leads_combined.xlsx', index=False)